.App {
  width: 270px;
  height: 390px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "display display display display"
    "c c percent divide"
    "seven eight nine multi"
    "four five six subtract"
    "one two three plus"
    "zero zero point equals";
}

.display {
  background-color: #ffffff;
}
.c,
.point,
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.zero {
  background-color: #a6a6a6;
}
.percent {
  background-color: #4e4e4e;
}
.divide,
.multi,
.subtract,
.equals,
.plus {
  background-color: #ef811b;
}
